body {
    color: black;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 32px;
    background-color: white;
    margin-left: 0;
    margin-top: 5em;
}
.myquestiontx-question-text {
  font-size:32px;
  margin-top: 5em; 
}
.Separatortx-next-item-slow-message {
  font-size:25px;
  margin-top: 5em; 
  color: red;
}
.Separatortx-next-item-failure-message {
  font-size:25px;
  margin-top: 5em; 
  color: red;
}
.Separatortx-next-item-message {
  font-size:25px;
  margin-top: 5em; 
}